<form name="contactForm" method="POST" netlify-honeypot="bot-field" data-netlify="true" id="contact-form"
  class="contact-form">
  <p class="screen-reader-text">
    <label>Don't fill this out if you're human: <input name="bot-field" /></label>
  </p>
  <p class="form-row">
    <label class="form-label" for="contact-user-name">Jméno</label>
    <input type="text" name="name" id="contact-user-name" class="form-input" placeholder="Napište svoje jméno">
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <p class="form-row">
    <label class="form-label" for="contact-user-email">E-mail</label>
    <input type="email" name="email" id="contact-user-email" class="form-input" placeholder="Napište svoji e-mailovou adresu">
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <p class="form-row">
    <label class="form-label" for="contact-message">Vaše zpráva</label>
    <textarea name="message" id="contact-message" class="form-textarea" rows="5" placeholder="Zanechte svoji zprávu"></textarea>
    <span class="input-focus" aria-hidden="true"></span>
  </p>
  <input type="hidden" name="form-name" value="contactForm" />
  <p class="form-row form-submit">
    <button type="submit" class="button">Odeslat zprávu</button>
  </p>
</form><!-- .contact-form -->
